<section class="w-6/12  m-6 shadow-md">

  <section class="mx-auto flex justify-center">

    @if(selectedGame && !selectedScoringModel) {
      <h2 class="text-2xl font-bold p-6 pb-2 mb-6 text-brand4 border-b-4 border-b-brand1">{{selectedGameName}} Win / Loss Ratio</h2>
    }

    @if(selectedScoringModel && !selectedGame) {
      <h2 class="text-2xl font-bold p-6 pb-2 mb-6 text-brand4 border-b-4 border-b-brand1">{{selectedScoringModel}} Win / Loss Ratio</h2>
    }

    @if(selectedScoringModel && selectedGame) {
      <h2 class="text-2xl font-bold p-6 pb-2 mb-6 text-brand4 border-b-4 border-b-brand1">Win / Loss Ratio for {{ selectedGameName }} ( {{ selectedScoringModel }})</h2>
    }


    @if(!selectedGame && !selectedScoringModel) {
      <h2 class="text-2xl font-bold p-6 pb-2 mb-6 text-brand4 border-b-4 border-b-brand1">Win / Loss Ratio</h2>
    }

  </section>


  <div class="flex justify-center mx-auto">
    <div class="w-full h-[50vh] mx-auto">
      <canvas  baseChart
               [data]="chartData"

               [options]="chartOptions"
               class="w-full h-full">
      </canvas>
    </div>
  </div>

  <div class="flex flex-col p-4 justify-evenly navBar:flex-row navBar:space-x-4">

    <div class="flex flex-col w-8/12 pt-2 mx-auto">
      <select class="p-2  h-10 border-2 rounded-md border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 text-gray-700  focus:border-brand4 focus:ring-2 focus:ring-brand1 focus:outline-none"
              [(ngModel)]="selectedGame" (ngModelChange)="filterResults()">
        <option [ngValue]="null">Filter by Game</option>
        @for(playedGame of playedGames; track playedGame.gameId){
          <option [ngValue]="playedGame">{{ playedGame.title }}</option>
        }
      </select>

    </div>

    <div class="flex flex-col w-8/12 pt-2 mx-auto">
      <select class="p-2  h-10 border-2 rounded-md border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 text-gray-700  focus:border-brand4 focus:ring-2 focus:ring-brand1 focus:outline-none  "
              [(ngModel)]="selectedScoringModel" (ngModelChange)="filterResults()">
        <option class="border-x-brand4" [ngValue]="null">Filter by Scoring Type</option>
        @for(scoringModel of scoringModels; track scoringModel){
          <option [value]="scoringModel">{{ scoringModel }}</option>
        }
      </select>

    </div>

  </div>



</section>
