<div class="flex flex-col justify-center items-center">


<section>
  <app-associations-list-component  (remove)="handleRemove($event)"  [associations]="associations" ></app-associations-list-component>
</section>

<section>
  <app-add-association-component (add)="handleAdd($event)" (lookup)="handleLookup($event)" [guestPlayer]="guestPlayer"></app-add-association-component>
</section>

<section>
  <app-create-guest-component (create)="handleCreate($event)"></app-create-guest-component>
</section>

</div>
