
<section class="rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 bg-white
my-6 px-6 shadow-md w-10/12  mx-auto navBar:w-full">

  <h3 class="text-2xl font-bold  py-6 text-brand4 text-center">Your Current Inventory</h3>



@if(ownedGames.length  > 0) {
    <section>

      <div class="flex flex-col mt-4">
        <input class="p-2  h-10 border-2 rounded-md border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 text-gray-700  focus:border-brand4 focus:ring-2 focus:ring-brand1 focus:outline-none w-full max-w-lg"
               type="text" placeholder="Enter Game Title" #searchInventoryBox id="inventorySearchBox">
        <label class="pt-2 block text-sm font-medium text-gray-700" for="inventorySearchBox">Game Title</label>
      </div>

      <div class="flex space-x-4">
            <button class=" bg-brand5 text-white font-semibold my-4 py-2 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-lg"
                    (click)="triggerInventoryLookup(searchInventoryBox.value)">Search Inventory</button>

          <button class=" bg-brand5 text-white font-semibold my-4 py-2 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-lg"
                  (click)="triggerFilterClear()">Clear Search Filter</button>

      </div>
    </section>
}
  @if((filteredOwnedGames?.length ?? 0) > 0) {

    <section class="flex flex-row items-start pb-6 mt-4">
      <table class="rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2  shadow-md table-fixed space-y-4 w-full  mx-0">
        <colgroup>
          <col class="w-auto">
          <col class="w-[100px]">
        </colgroup>

        <thead class="bg-brand2">
        <tr>
          <th class="table-auto border-collapse border-2 border-brand4  px-4 py-2 text-white">Game Name</th>
          <th class="border-collapse border-2 border-brand4 max-w-[100px]"></th>
        </tr>
        </thead>

        <tbody>
          @for(filteredOwnedGame of  filteredOwnedGames; track filteredOwnedGame.gameId) {
            <tr>
              <td class="border-2 border-brand4 px-4  text-gray-700 truncate">{{filteredOwnedGame.gameName }}</td>
              <td class="border-2 border-brand4 px-4 max-w-[100px]">
                <div class="flex justify-center">
                  <img class="cursor-pointer" ngSrc="assets/TrashCan.png" alt="Trash Can Icon" width="40" height="40" (click)="triggerDelete(filteredOwnedGame.gameId)"  id={{filteredOwnedGame.gameId}}>
                </div>
              </td>
            </tr>

          }
        </tbody>

      </table>
    </section>
  }


</section>

