<div class="flex flex-col justify-center items-center">

  <section class="mx-auto navBar: flex justify-start">
    <h2 class="text-3xl font-bold p-6 pb-2 text-brand4 border-b-4 border-b-brand1">My Game Inventory</h2>
  </section>


  <section class="w-full navBar:w-full">
    <app-add-owned-game-component (lookup)="handleLookup($event)" (add)="handleAdd($event)" [games]=games></app-add-owned-game-component>
  </section>

  <section class="w-full navBar:w-full">
    <app-owned-games-list-component (delete)="handleDelete($event)" [ownedGames]=ownedGames></app-owned-games-list-component>
  </section>






</div>
