<div class="overflow-y-scroll h-screen grid grid-cols-[55%_45%] grid-rows-[40%_40%] gap-4">


  <section class="col-start-1 col-end-2 row-start-1">
    <app-play-trends-component [playedGames]="playedGames" [rangeOfYears]="rangeOfYears"></app-play-trends-component>
  </section>


  <section class="row-start-1 col-start-2 col-end-3">
    <app-win-loss-component [playedGames]="playedGames"></app-win-loss-component>
  </section>

  <section class=" row-start-2 col-start-2 col-end-3">
    <app-owned-game-frequency-component [ownedGames]="ownedGames"></app-owned-game-frequency-component>
  </section>


</div>
