<section class="rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 bg-white
my-6 px-6 shadow-md w-7/12 max-w-4xl mx-auto">
  <h3 class="text-2xl font-bold  pt-6 text-brand4">Add to Your Inventory</h3>

  <section>

    <div class="flex flex-col mt-4">
      <input class="p-2  h-10 border-2 rounded-md border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 text-gray-700  focus:border-brand4 focus:ring-2 focus:ring-brand1 focus:outline-none w-full max-w-lg"
             type="text" placeholder="Enter Game Title" #searchBox>
      <label class="pt-2 block text-sm font-medium text-gray-700">Game Title</label>
      </div>

    <button class=" bg-brand5 text-white font-semibold my-4 py-2 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-md"
            (click)="triggerLookup(searchBox.value)">Search Game Database</button>
  </section>


  <section class="pb-6">

    @if(clicked) {

      <table class="rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 px-6 shadow-md space-y-4 w-full max-w-4xl mx-auto">
        <thead class="bg-brand2">
        <tr>
          <th class="table-auto border-collapse border-2 border-brand4  px-4 py-2 text-white">Game Name</th>
          <th class="table-auto border-collapse border-2 border-brand4"></th>
        </tr>
        </thead>

        <tbody>
          @for(game of games; track game.gameId) {
            <tr>
              <td class="border-2 border-brand4 px-4  text-gray-700">{{ game.title }}</td>
              <td class="border-2 border-brand4 px-4">
                <div class="flex justify-center">
                  <img class="cursor-pointer" ngSrc="assets/PlusSign.png" alt="Plus Sign Icon" width="40" height="40"
                       (click)="triggerAdd(game.gameId)"  id={{game.gameId}}>
                </div>
              </td>
            </tr>

          }
        </tbody>

      </table>

    }

  </section>



</section>
