<section class="rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 bg-white
my-6 px-6 shadow-md w-10/12 max-w-4xl mx-auto navBar:w-full">

  @if(pendingPlaySessions.length  > 0) {
    @if(!expanded) {
      <div class="cursor-pointer flex py-4 justify-center" (click)="onPendingExpandChange()">
        <img ngSrc="assets/PlusSign.png" alt="Plus Sign Icon" width="40" height="40">
        <h3 class="text-2xl font-bold  text-brand4 pt-1">Pending Game Play Sessions</h3>
      </div>
    }

    @if(expanded) {


      <div class="cursor-pointer flex py-4 justify-center" (click)="onPendingExpandChange()">
        <img ngSrc="assets/MinusSign.png" alt="Minus Sign Icon" width="40" height="40">
        <h3 class="text-2xl font-bold  pt-1 text-brand4">Pending Game Play Sessions</h3>
      </div>


      <section class="flex flex-row items-start pb-6 mt-4">
        <table class="rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2  shadow-md table-fixed space-y-4 w-full  mx-0">
          <colgroup>
            <col class="w-auto">
            <col class="w-auto">
            <col class="w-auto">
            <col class="w-[100px]">

          </colgroup>

          <thead class="bg-brand2">
          <tr>
            <th class="table-auto border-collapse border-2 border-brand4  px-4 py-2 text-white">Game Name</th>
            <th class="table-auto border-collapse border-2 border-brand4  px-4 py-2 text-white">Date</th>
            <th class="table-auto border-collapse border-2 border-brand4  px-4 py-2 text-white">Players</th>
            <th class="border-collapse border-2 border-brand4 max-w-[100px]"></th>

          </tr>
          </thead>

          <tbody>
            @for(pendingPlaySession of pendingPlaySessions; track pendingPlaySession.id) {
              <tr>
                <td class="border-2 border-brand4 px-4  text-gray-700 truncate">{{ pendingPlaySession.gameName }}</td>

                <td class="border-2 border-brand4 px-4  text-gray-700 truncate">{{  pendingPlaySession.sessionDateTime | date:'medium'}}</td>

                <td class="border-2 border-brand4 px-4  text-gray-700 truncate"><ul>@for (sessionParticipant of pendingPlaySession.sessionParticipantDetails; track sessionParticipant.id) {
                      <li>{{sessionParticipant.firstName + " " + sessionParticipant.lastName + " | " + sessionParticipant.identifier}}</li>
                    }</ul>
                </td>

                  <td class="border-2 border-brand4 px-4 max-w-[100px]">
                      <div class="flex justify-center">
                          <img class="cursor-pointer" ngSrc="assets/PlusSign.png" alt="Plus Sign Icon" width="40" height="40" (click)="triggerAccept(pendingPlaySession.id)"  [id] ="'Accept' +pendingPlaySession.id">
                      </div>
                  </td>


              </tr>

            }
          </tbody>

        </table>
      </section>
    }
  }



</section>
