<div class="flex flex-col justify-center items-center">


  <h2 class="text-3xl font-bold p-6 pb-2 text-brand4 border-b-4 border-b-brand1">My Profile</h2>

  <section class="rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 bg-white
my-6 px-6 shadow-md w-7/12 max-w-4xl mx-auto navBar:w-full">

    <h3 class="text-2xl font-bold  text-brand4 pt-1 text-center">Edit Profile</h3>

    <div>
      <h4 class="text-xl font-bold  mt-4 text-brand4">Your Current Information</h4>
        <div class="pt-2">
          <p><span class="text-brand4">First Name:</span> {{ profileInformation?.firstName }}</p>
          <p><span class="text-brand4">Last Name:</span> {{ profileInformation?.lastName }}</p>
          <p><span class="text-brand4">Display Name:</span> {{ profileInformation?.displayName }}</p>
          <p><span class="text-brand4">Login Email:</span> {{ profileInformation?.loginEmail }}</p>
        </div>
    </div>


    <div>
      <h4 class="text-xl font-bold  mt-4 text-brand4">Update Information</h4>

      <form autocomplete="off" (ngSubmit)="updateAccount()">

        <div class="grid  grid-cols-1 gap-4 py-2 m-2 sm:grid-cols-2">


          <div class="py-2 mx-2">
            <input class="p-2 w-64  h-10 border-2 rounded-md border-t-brand5 border-r-brand2 border-b-brand4 border-l-brand1 text-gray-700  focus:border-brand4 focus:ring-2 focus:ring-brand1 focus:outline-none"
                   [(ngModel)]="firstName" type = text id = "firstName" name = "firstName" placeholder="First Name">
            <label class="pt-2 block text-sm font-medium text-gray-700" for = "firstname">First Name</label>
          </div>

          <div class="py-2 mx-2">
            <input class="p-2 w-64  h-10 border-2 rounded-md border-t-brand5 border-r-brand2 border-b-brand4 border-l-brand1 text-gray-700  focus:border-brand4 focus:ring-2 focus:ring-brand1 focus:outline-none"
                   [(ngModel)]="lastName" type = text id = "lastName" name = "lastName" placeholder="Last Name">
            <label class="pt-2 block text-sm font-medium text-gray-700" for = "lastname">Last Name</label>
          </div>

          <div class="py-2 mx-2">
            <input class="p-2 w-64  h-10 border-2 rounded-md border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 text-gray-700  focus:border-brand4 focus:ring-2 focus:ring-brand1 focus:outline-none" [(ngModel)]="displayName" type = text id = "displayName" name = "displayName" placeholder="Display Name">
            <label class="pt-2 block text-sm font-medium text-gray-700" for = "displayName">Display Name</label>
          </div>


          <div class="py-2 mx-2">
            <input class="p-2 w-64  h-10 border-2 rounded-md border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 text-gray-700  focus:border-brand4 focus:ring-2 focus:ring-brand1 focus:outline-none" [(ngModel)]="loginEmail" type = "text" id = "loginEmail" name = "loginEmail" placeholder="Email Address">
            <label class="pt-2 block text-sm font-medium text-gray-700" for = "loginEmail">Email Address</label>
          </div>

          <div class="py-2 mx-2">
            <button class="w-full bg-brand5 text-white font-semibold py-2 px-4 rounded-md
             hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3"  type = "submit" id = "createAccountSubmitButton">Update Account</button>
          </div>


          </div>



      </form>

    </div>



    @if(!confirmTriggered) {
      <div class="flex py-4 justify-center">
      <button type="button" class=" w-1/2 bg-brand5 text-white font-semibold py-2 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3"
              (click)="triggerConfirm()">Delete Account</button>
      </div>
    }


    @if(confirmTriggered) {

      <h4 class="text-xl font-bold  text-brand4">Are you sure you want to delete your account?</h4>

      <div class="flex py-4 space-x-4">
        <button type="button" class="w-full bg-brand5 text-white font-semibold py-2 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3"
                (click)="triggerDelete()">Yes, I'm Sure</button>

        <button type="button" class="w-full bg-brand5 text-white font-semibold py-2 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3"
                (click)="triggerKeepAccount()">No, Keep My Account</button>
      </div>

    }

  </section>


</div>
