<section>

  <h3 class="text-2xl font-bold p-6 text-brand4">Manage Connections</h3>

  <section id="discoverPlayers">

    <h4>Find Players</h4>

    <input type="text" placeholder="Search by Player's Email" #playerSearchBox>
    <button (click)="triggerLookup(playerSearchBox.value)">Search</button>

    @if (registeredPlayer) {
      <ul >

        <li>{{registeredPlayer.firstName + registeredPlayer.lastName + registeredPlayer.loginEmail }}</li>
        <button (click)="triggerSend(registeredPlayer.id)"  id="{{'send'}}">Send Connection Request</button>
        <button (click)="triggerBlock(registeredPlayer.id)"  id="{{'block'}}">Block Player</button>

      </ul>
    }
  </section>

  <section id="sentRequests">

    <h4>Sent Requests</h4>

    @if (sentRequests) {
      <ul >

        @for(sentRequest  of sentRequests; track sentRequest.id) {
          <li>{{sentRequest.recipientFirstName + sentRequest.recipientLastName + sentRequest.recipientEmail }}</li>
          <button (click)="triggerCancel(sentRequest.id)"  id="{{'cancel' + sentRequest.id}}">Cancel Request</button>
        }

      </ul>
    }

  </section>

<section id="pendingRequests">
    <h4>Pending Requests</h4>

    @if (pendingRequests) {
      <ul >

        @for(pendingRequest of pendingRequests; track pendingRequest.id) {
          <li>{{pendingRequest.senderFirstName + pendingRequest.senderLastName + pendingRequest.senderEmail }}</li>
          <button (click)="triggerAccept(pendingRequest.id)"  id="{{'accept' + pendingRequest.id}}">Accept Connection Request</button>
          <button (click)="triggerReject(pendingRequest.id)"  id="{{'reject' + pendingRequest.id}}">Decline Connection Request</button>
          <button (click)="triggerBlock(pendingRequest.senderId)"  id="{{'reject' + 'block' + pendingRequest.id}}">Block Player</button>
        }

      </ul>
    }
  </section>

  <section id="removeBlocks">
    <h4>Remove Blocks</h4>

    @if (blockedPlayers) {
      <ul >

        @for(blockedPlayer of blockedPlayers; track blockedPlayer.id) {
          <li>{{blockedPlayer.firstName + blockedPlayer.lastName + blockedPlayer.loginEmail }}</li>
          <button (click)="triggerUnblock(blockedPlayer.id)"  id="{{'unblock' + blockedPlayer.id}}">Remove Block</button>
        }

      </ul>
    }
  </section>



</section>
