<section class="rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2 bg-white
my-6 px-6 shadow-md w-10/12  mx-auto navBar:w-full">

  @if(!expandedConnectionsManagement) {
    <div class="cursor-pointer flex py-4 justify-center" (click)="onExpandConnectionsManagementChange()">
      <img ngSrc="assets/PlusSign.png" alt="Plus Sign Icon" width="40" height="40">
      <h3 class="text-2xl font-bold  text-brand4 pt-1">Manage Connections</h3>
    </div>
  }

  @if(expandedConnectionsManagement) {

    <div class="cursor-pointer flex py-4 justify-center" (click)="onExpandConnectionsManagementChange()">
      <img ngSrc="assets/MinusSign.png" alt="Minus Sign Icon" width="40" height="40">
      <h3 class="text-2xl font-bold  pt-1 text-brand4">Manage Connections</h3>
    </div>


    <section class="p-4 m-2 bg-gradient-to-br from-brand2 to-brand1 rounded-lg shadow-md" id="discoverPlayers">

    <h4 class="text-xl font-bold  text-white">Find Players</h4>

      <div class="flex flex-col navBar:grid navBar:grid-cols-2 navBar:grid-rows-2 navBar:gap-x-4">

          <input  class="navBar:order-1 p-2  h-10 border-2 rounded-md border-t-brand4 border-r-brand4 border-b-brand3 border-l-brand3 text-gray-700  focus:border-brand4 focus:ring-2 focus:ring-brand1 focus:outline-none w-full max-w-lg"
                  type="text" placeholder="Search by Player's Email" #playerSearchBox id="playerSearchBox">

        <label class="navBar:order-3 pt-2 block text-sm font-medium text-gray-700" for="playerSearchBox">Player's Email</label>

        <button class="navBar:order-2 navBar:mt-0 h-10 bg-brand5 text-white font-semibold  py-2 px-4 mt-2 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 max-w-xs "
                (click)="triggerLookup(playerSearchBox.value)">Search</button>


      </div>

      <h4 class="text-md font-bold  text-[#ff3254] ">{{ errorMessage }}</h4>

    @if (registeredPlayer) {

      <p class="mt-2 navBar:mt-0 text-white text-xl">{{registeredPlayer.firstName + " " + registeredPlayer.lastName + " | " + registeredPlayer.loginEmail }}</p>

      <div class="flex space-x-4">
        <button class=" bg-brand5 text-white font-semibold my-4 py-2 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-lg" (click)="triggerSend(registeredPlayer.id)"  id="{{'send'}}">Send Connection Request</button>
        <button class=" bg-brand5 text-white font-semibold my-4 py-2 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-lg" (click)="triggerBlock(registeredPlayer.id)"  id="{{'block'}}">Block</button>
      </div>



    }
  </section>

    <section class="p-4 m-2 bg-gradient-to-br from-brand3 to-brand2 rounded-lg shadow-md">
  <section id="sentRequests">

    <h4 class="text-xl font-bold  text-white">Sent Requests</h4>

    @if ((sentRequests?.length ?? 0) > 0) {

          <table class="my-2 rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2  shadow-md border-collapse table-fixed space-y-4 w-full  mx-0">

            <colgroup>
              <col class="w-auto">
              <col class="w-[150px]">
            </colgroup>

            <thead class="bg-brand1">
            <tr>
              <th class="border-2 border-brand4  px-4 py-2 text-white">Player Name</th>
              <th class="border-2 border-brand4 max-w-[150px]"></th>
            </tr>
            </thead>

            <tbody>

              @for(sentRequest  of sentRequests; track sentRequest.id) {
                <tr>
                <td class="border-2 border-brand4 px-4 bg-white text-brand4 truncate">{{sentRequest.recipientFirstName + sentRequest.recipientLastName + sentRequest.recipientEmail }}</td>

                <td class="border-2 border-brand4 px-4 bg-white max-w-[100px]">
                  <div class="flex justify-center">
                    <button class=" bg-brand5 text-white font-semibold my-1 py-1 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-lg"  (click)="triggerCancel(sentRequest.id)"  id="{{'cancel' + sentRequest.id}}">Cancel</button>
                  </div>
                </td>

                </tr>
              }
            </tbody>

          </table>

        }



  </section>

<section id="pendingRequests">
    <h4 class="text-xl font-bold  text-white">Pending Requests</h4>

    @if ((pendingRequests?.length ?? 0) > 0) {

      <table class="my-2 rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2  shadow-md table-fixed space-y-4 w-full  mx-0">

        <colgroup>
          <col class="w-auto">
          <col class="w-[250px]">

        </colgroup>

        <thead class="bg-brand1">
        <tr>
          <th class="table-auto border-collapse border-2 border-brand4  px-4 py-2 text-white">Player Name</th>
          <th class="border-collapse border-2 border-brand4 max-w-[250px]"></th>
        </tr>
        </thead>

        <tbody>

          @for(pendingRequest of pendingRequests; track pendingRequest.id) {
            <tr>
            <td class="border-2 border-brand4 px-4 bg-white text-brand4 truncate">{{pendingRequest.senderFirstName + " " + pendingRequest.senderLastName + " | " + pendingRequest.senderEmail }}</td>

            <td class="border-2 border-brand4 px-4 bg-white text-brand4">
              <button class=" bg-brand5 text-white font-semibold my-1 py-1 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-lg" (click)="triggerAccept(pendingRequest.id)"  id="{{'accept' + pendingRequest.id}}">Accept</button>
              <button class=" bg-brand5 text-white font-semibold my-1 py-1 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-lg" (click)="triggerReject(pendingRequest.id)"  id="{{'reject' + pendingRequest.id}}">Decline</button>
              <button class=" bg-brand5 text-white font-semibold my-1 py-1 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-lg" (click)="triggerBlock(pendingRequest.senderId)"  id="{{'reject' + 'block' + pendingRequest.id}}">Block</button>

            </td>
            </tr>

          }

        </tbody>


      </table>

    }
  </section>


</section>

  <section class="p-4 m-2 bg-gradient-to-br from-brand4 to-brand3 rounded-lg shadow-md" id="removeBlocks">
    <h4 class="text-xl font-bold  text-white">Remove Blocks</h4>

    @if ((blockedPlayers?.length ?? 0) > 0) {

        <table class="my-2 rounded-lg border-2 border-t-brand5 border-r-brand4 border-b-brand3 border-l-brand2  shadow-md table-fixed space-y-4 w-full  mx-0">

          <colgroup>
            <col class="w-auto">
            <col class="w-[150px]">
          </colgroup>

          <thead class="bg-brand1">
          <tr>
            <th class="table-auto border-collapse border-2 border-brand4  px-4 py-2 text-white">Player Name</th>
            <th class="border-collapse border-2 border-brand4 max-w-[150px]"></th>
          </tr>
          </thead>

          <tbody>
              @for(blockedPlayer of blockedPlayers; track blockedPlayer.id) {
                <tr>
                  <td class="border-2 border-brand4 px-4 bg-white text-brand4 truncate">{{blockedPlayer.firstName + " " + blockedPlayer.lastName + " | " + blockedPlayer.loginEmail }}</td>
                  <td class="border-2 border-brand4 px-4 bg-white text-brand4 truncate">
                    <button class=" bg-brand5 text-white font-semibold my-1 py-1 px-4 rounded-md hover:bg-brand4 focus:outline-none focus:ring-2 focus:ring-brand2 active:bg-brand3 w-full max-w-lg" (click)="triggerUnblock(blockedPlayer.id)"  id="{{'unblock' + blockedPlayer.id}}">Unblock</button>
                  </td>
                </tr>
              }
          </tbody>

        </table>
    }
  </section>
  }
</section>
