

<section class="flex flex-col py-4 justify-center rounded-lg mt-6 mb-4 px-6  w-7/12 max-w-4xl mx-auto navBar:w-full">
  <h3 class="text-2xl font-bold  text-brand4 py-1">Networking</h3>
  <p class="text-gray-700">Before adding a player to a gameplay session, they’ll need to be in your network.
    Registered players must accept your connection request.
    Guest players can be added instantly and are placeholders for people who don’t yet have an account.
    You can also choose to block players, which will prevent them from interacting with you or adding you to game sessions. </p>
</section>
