<div class="flex flex-col justify-center items-center">
<section class="mx-auto navBar: flex justify-start">
  <h2 class="text-3xl font-bold p-6 pb-2 text-brand4 border-b-4 border-b-brand1">About PlayLytics</h2>
</section>


<section class="flex flex-col py-4 justify-center rounded-lg mt-6  px-6  w-7/12 max-w-4xl mx-auto navBar:w-full">
  <h3 class="text-2xl font-bold  text-brand4 py-1">Analytics</h3>
  <p class="text-gray-700">Analytics transforms your sessions into insights. See which friends you play with the most, discover your win streaks, and explore charts that highlight your favorite games.
    It’s more than numbers—it’s your play history, made easy to understand and fun to explore. </p>
</section>

<section class="flex flex-col py-4 justify-center rounded-lg mt-2  px-6  w-7/12 max-w-4xl mx-auto navBar:w-full">
  <h3 class="text-2xl font-bold  text-brand4 py-1">Game Play Sessions</h3>
  <p class="text-gray-700">Logging a new session is easy. Start by searching for a game from the expansive PlayLytics database, then choose a date and time in the past or present.
    <br><br>Next, select a scoring model: <br> </p>

    <ul>
      <li class="text-gray-700">Teams (requires at least 3 players)</li>

      <li class="text-gray-700">Ranking</li>

      <li class="text-gray-700">Cooperative (requires at least 2 players)</li>
  </ul>

  <p class="text-gray-700"><br>


    After choosing the model, select the players from your connections and associates—don’t forget to include yourself, as every session must have you as a participant.

    <br><br> Once logged, all games appear in Past Game Play Sessions, where you and other participants can review or delete them. Keep in mind, deleting a session removes it for everyone who participated.

    <br><br>You’ll also find a Pending Game Play Sessions section. If you originally were created as a guest player, those sessions will show here so you can claim past game play sessions for your personal history if you choose. </p>
</section>


<section class="flex flex-col py-4 justify-center rounded-lg mt-2  px-6  w-7/12 max-w-4xl mx-auto navBar:w-full">
  <h3 class="text-2xl font-bold  text-brand4 py-1">Networking</h3>
  <p class="text-gray-700">Before adding a player to a gameplay session, they’ll need to be in your network.
    Registered players must accept your connection request.
    Guest players can be added instantly and are placeholders for people who don’t yet have an account.
    You can also choose to block players, which will prevent them from interacting with you or adding you to game sessions. </p>
</section>


<section class="flex flex-col py-4 justify-center rounded-lg mt-2  px-6  w-7/12 max-w-4xl mx-auto navBar:w-full">
  <h3 class="text-2xl font-bold  text-brand4 py-1">Game Inventory</h3>
  <p class="text-gray-700">Your Inventory is where you keep track of the games you own. Use the search bar to browse the expansive PlayLytics database and quickly add titles to your collection.

    You can add multiple copies of the same game if you own more than one.

    Games can also be removed from your Inventory at any time.

    </p>
</section>

  <section class="flex flex-col py-4 justify-center rounded-lg mt-2  px-6  w-7/12 max-w-4xl mx-auto navBar:w-full">
    <h3 class="text-2xl font-bold  text-brand4 py-1">Edit Profile</h3>
    <p class="text-gray-700">On this page, you can update your personal information, including your first name, last name, display name, and login email.

      If you choose to delete your account, your history won’t be lost. All of your past gameplay sessions will automatically transfer to a ghost player profile, preserving your record for future reference.

    </p>
  </section>
</div>
