<section class="rounded-lg border-2 border-brand2 text-brand4 pt-1 bg-white
hover:text-white hover:bg-gradient-to-br from-brand2 to-brand1
my-6 px-6 shadow-md w-7/12 max-w-4xl mx-auto navBar:w-full">

    <div class="cursor-pointer flex py-4 justify-center"  routerLink="/sessions">
      <h3 class="text-2xl font-bold ">Log a Game Play Session</h3>
    </div>

</section>


<section>
  <img ngSrc="assets/PlayLyticsDiceLogoTransparent.png" alt="PlayLytics Dice" width="400" height="400">
</section>






