<h2>Connections</h2>

<section>
  <app-confirmed-connections-component (remove)="handleRemove($event)" (block)="handleBlock($event)" [connections]="connections"></app-confirmed-connections-component>
</section>

<section>
  <app-manage-connections-component (lookup)="handleLookup($event)" (send)="handleSend($event)" (block)="handleBlock($event)" (cancel)="handleCancel($event)" (accept)="handleAccept($event)"  (reject)="handleReject($event)" [registeredPlayer]="registeredPlayer" [sentRequests]="sentRequests" [pendingRequests]="pendingRequests"></app-manage-connections-component>
</section>

