
<header>
  <h1>PlayLytics</h1>

    @if (isAuthenticated) {
    <nav>
      <a routerLink = "/">Home</a>
      <a routerLink = "/analytics">Analytics</a>
      <a routerLink = "/sessions">Game Play Sessions</a>
      <a routerLink = "/connections">Connections</a>
      <a routerLink = "/inventory">Inventory</a>
      <a routerLink = "/logout">Logout</a>
    </nav>

    } @else {
      <a routerLink = "/login">Login</a>
      <a routerLink = "/sign-up">Create Account</a>
    }

</header>


<main>

</main>

<router-outlet></router-outlet>

<footer>

</footer>
