<div class="flex flex-col justify-center items-center">

  <section class="mx-auto navBar: flex justify-start">
    <h2 class="text-3xl font-bold p-6 pb-2 text-brand4 border-b-4 border-b-brand1">Game Play Sessions</h2>
  </section>

  <section class="w-full navBar:w-full navBar:px-6 max-w-[2000px]">
    <app-add-game-play-session-component  (lookup)="handleGameLookup($event)" (sessionSubmit)="handleSubmit($event)" [games]="games" [network]="network" [gameLookUpErrorMessage]="gameLookUpErrorMessage"></app-add-game-play-session-component>
  </section>

  <section class="w-full navBar:w-full navBar:px-6 max-w-[2000px]">
    <app-game-play-sessions-list-component (sessionLookup)="handleSessionLookup($event)"  (delete)="handleSessionDelete($event)" [playSessions]="playSessions" [playedGames]="playedGames" [reportGenerationTime]="reportGenerationTime"></app-game-play-sessions-list-component>
  </section>

  <section class="w-full navBar:w-full navBar:px-6 max-w-[2000px]">
    <app-pending-game-play-sessions-component (accept)="handleSessionAccept($event)" [pendingPlaySessions]="pendingPlaySessions"></app-pending-game-play-sessions-component>
  </section>

</div>
