<section>
  <h2 class="text-3xl font-bold text-blue-600">Sign in to PlayLytics</h2>
<form (ngSubmit)="login()" >

  <label for = "username">User Name</label>
  <input [(ngModel)]="username" type = "text" id = "username" name = "username" placeholder="Enter Your Email">

  <label for = "password">Password</label>
  <input [(ngModel)]="password" type = text id = "password" name = "password" placeholder="Enter Your Password">

  <button type = "submit" id = "loginSubmitButton">Login!</button>

</form>
</section>
